<h1><%= t "edit_word_text" %></h1>
<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <%= nested_form_for [:admin, @word] do |f| %>
      <%= render "shared/error_messages", object: f.object %>

      <%= f.label :category %>
      <%= f.collection_select :category_id, Category.all, :id, :name,
        {prompt: false}, {class: "form-control"} %>

      <%= f.label :content %>
      <%= f.text_field :content, class: "form-control" %>

      <%= f.label :options %>

      <%= f.fields_for :word_answers do |answer_form| %>
        <%= render "answer_fields", answer_form: answer_form %>
      <% end %>

      <p><%= f.link_to_add t(:add_option), :word_answers %></p>

      <%= f.submit t(:save_change_text), class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
