<% provide :title, @user.name %>
<h1><%= t "user_profile" %></h1>
<div class="row">
  <div class="panel panel-default">
    <div class="panel-heading">
      <div>
        <% if can? :update, @user %>
          <%= link_to t(:edit), edit_user_registration_path,
            class: "btn btn-default" %>
        <% end %>
      </div>
    </div>
    <div class="panel-body">
      <%= gravatar_for @user %>
      <label><%= t "name" %></label>
      <p class="form-control profile_align"><%= @user.name %></p>
      <label><%= t "email" %></label>
      <p class="form-control profile_align"><%= @user.email %></p>
    </div>
    <div class="panel-footer panel-course-footer">
      <% if can? :destroy, @user %>
        <%= link_to t(:cancel_account),
          user_registration_path,
          data: {confirm: t(:are_you_sure)},
          method: :delete,
          class: "btn btn-danger" %>
      <% end %>

      <% unless @user == current_user %>
        <% if current_user.following?(@user) %>
          <%= @user.show_unfollow_button %>
        <% else %>
          <%= @user.show_follow_button %>
        <% end %>
      <% else %>
        <%= link_to t(:words), words_path,
          class: "btn btn-default" %>
        <%= link_to t(:lessons),
           categories_path, class: "btn btn-default" %>
      <% end %>
      <div class="pull-right">
        <button class="btn btn-default" id="show-following">
          <%= t "following" %>
        </button>
        <button class="btn btn-default" id="show-followers">
          <%= t "followers" %>
        </button>
      </div>
    </div>
  </div>

  <% ["followers","following"].each do |f_name| %>
    <div class="#{f_name} well" id="#{f_name}">
      <button type="button" class="close" id="hide-#{f_name}">&times;</button>
      <hr>
      <% if @user.send(f_name).any? %>
        <% @user.send(f_name).each do |f| %>
          <p>
            <%= gravatar_for f, size: 40 %>
            <%= link_to f.name, f %>
          </p>
          <hr>
        <% end %>
      <% else %>
        <h2><code><%= t "no_" + f_name %></code></h2>
      <% end %>
    </div>
  <% end %>

  <h1><%= t "activities" %></h1>

  <% @activities.each do |activity| %>
    <%= link_to activity.owner.name, activity.owner %>
    <% if activity.key == "User.follow" %>
      <%= t "h_follow" %> <%= link_to activity.trackable.name,
        activity.trackable %><br>
    <% elsif activity.key == "User.unfollow" %>
      <%= t "h_unfollow" %> <%= link_to activity.trackable.name,
        activity.trackable %><br>
    <% else %>
      <%= render_activity activity %><br>
    <% end %>
    <hr>
  <% end %>
</div>
