<h1><%= t "lessons_taken" %></h1>
<hr>

<table class="table">
  <thead>
    <tr>
      <th>#</th>
      <th><%= t "category" %></th>
      <th><%= t "date" %></th>
      <th><%= t "result" %></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
  <% @lessons.each do |lesson| %>
    <% if lesson.lesson_result.to_i < 1 %>
      <tr class="danger">
    <% else %>
      <tr>
    <% end %>
        <td><%= lesson.id %></td>
        <td><%= lesson.category.name %></td>
        <td><%= l lesson.created_at, format: :short %></td>
        <td>
          <%= lesson.lesson_result.nil? ? 0 : lesson.lesson_result %>
            / <%= lesson.lesson_words.count %>
        </td>
        <td><%= link_to t(:show), lesson_path(lesson), class: "btn btn-default" %></td>
      </tr>
    <% end %>
  </tbody>
</table>
