<h1> <%= t "lesson" %> #<%= @lesson.id %></h1>
<hr>
<div class="panel panel-default">
  <div class="panel-heading">
    <h3><%= t "lesson_summery" %></h3>
  </div>
  <div class="panel-body">
    <table class="table">
      <thead>
          <tr class="success">
            <th>#</th>
            <th><%= t "word" %></th>
            <th><%= t "your_answer" %></th>
            <th><%= t "result" %></th>
          </tr>
        </thead>
      <tbody>
        <% @lesson.lesson_words.each do |lesson_word| %>
          <tr>
            <td><%= lesson_word.id %></td>
            <td><%= lesson_word.word.content %></td>
            <td>
              <% if lesson_word.word_answer.nil? %>
                <code><%= t "nil" %></code>
              <% else %>
                <%= lesson_word.word_answer.content %>
              <% end %>
            </td>
            <td>
              <% unless lesson_word.word_answer.nil? %>
                <% if lesson_word.word_answer.correct %>
                  <label class="text-success"><%= t "correct" %></label>
                <% else %>
                  <code><%= t "incorrect" %></code>
                <% end %>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <div class="panel-footer panel-course-footer">
  </div>
</div>
