<h1><%= t "all_words" %></h1>

<%= search_form_for @search do |f| %>
  <%= f.label :category_id_eq, t(:category) %>
  <%= f.select :category_id_eq, options_from_collection_for_select(Category.all,
    :id, :name, @search.category_id_eq), {prompt: false},
      {class: "form-control"} %>
  <%= f.radio_button :filter_word, "all #{current_user.id}", checked: true %>
  <%= f.label :filter_word, t(:all) %>
  <%= f.radio_button :filter_word, "learned #{current_user.id}" %>
  <%= f.label :filter_word, t(:learned) %>
  <%= f.radio_button :filter_word, "unlearned #{current_user.id}" %>
  <%= f.label :filter_word, t(:unlearned) %><br>
  <%= f.submit t(:search), class: "btn btn-primary"  %>
<% end %>

<table class="table">
  <thead>
    <th><%= sort_link @search, :content, t(:content) %></th>
    <th><%= t "category" %></th>
  </thead>
  <tbody>
    <% @words.each do |word| %>
      <tr>
        <td><%= word.content %></td>
        <td><%= word.category.name %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= will_paginate %>
